.App {
  text-align: center;
  width: 100%
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

#mp3_player {
width: 100%
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.slideDown{
	animation-name: slideDown;
	-webkit-animation-name: slideDown;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;	

	visibility: visible !important;						
}

@keyframes slideDown {
	0% {
		transform: translateY(-10%);
	}
	50%{
		transform: translateY(0%);
	}
	65%{
		transform: translateY(0%);
	}
	80%{
		transform: translateY(0%);
	}
	95%{
		transform: translateY(0%);
	}			
	100% {
		transform: translateY(0%);
	}		
}

@-webkit-keyframes slideDown {
	0% {
		-webkit-transform: translateY(-100%);
	}
	50%{
		-webkit-transform: translateY(0%);
	}
	65%{
		-webkit-transform: translateY(0%);
	}
	80%{
		-webkit-transform: translateY(0%);
	}
	95%{
		-webkit-transform: translateY(0%);
	}			
	100% {
		-webkit-transform: translateY(0%);
	}	
}

.menu {
  width: 75%
}