* { margin: 0; padding: 0; }

body { 
  background: black; 
  color: #999; 
  font-family: sans-serif; 
}

.preloader, .play {
  width: 300px;
  height: 50px;

  position: absolute;
  top: 50%;
  left: 50%;

  margin-left: -150px;
  margin-top: -25px;

  text-align: center;
  font-size: 1.3em;
}

.play {
  display: none;
  background: #00ccff;
  border: none;
  border-radius: 0.3em;
  color: #1C5A5A;
}

#readout {
  display: block;
}